@import "tailwindcss";

@theme {
  --animate-bg-shift: bg-shift 18s ease-in-out infinite;

  @keyframes bg-shift {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
}
